.root {
  border-radius: 5px;
  width: 200px;
  border: 1px solid;
  padding: 10px;
  margin: 10px;
  transition: all 250ms ease;
}

.root:hover {
  transform: translateY(-10px);
}

.root:hover>.btn {
  opacity: 1;
}

.btn {
  font-size: 24px;
  color: white;
  margin: 10px;
  opacity: 0.5;
}

.enrollBtn {
  background-color: blue;
}

.leaveBtn {
  background-color: red;
}

img {
  height: 85px;
  width: 100%;
  margin-bottom: 4px;
}

.catDiv {
  padding: 4px;
  border-radius: 5px;
  font-size: 24px;
  display: inline;
}

.catFree {
  background-color: blue;
}

.catPremium {
  background-color: orangered;
}