.root {
  border-radius: 5px;
  width: 200px;
  border: 1px solid;
  padding: 10px;
  margin: 10px
}

img {
  height: 85px;
  width: 100%;
  margin-bottom: 4px;
}

.cat-div {
  padding: 4px;
  border-radius: 5px;
  font-size: 24px;
  display: inline;
}

.cat-free {
  background-color: blue;
}

.cat-premium {
  background-color: orangered;
}